* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    background: #0b0b12;
    font-family: 'Fredoka', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

#stars {
    position: fixed;
    inset: 0;
    z-index: 1;
}

.card {
    position: relative;
    z-index: 2;
    background: rgba(255, 255, 255, 0.022);
    backdrop-filter: blur(10px);
    padding: 50px 40px;
    border-radius: 24px;
    box-shadow: 
      0 20px 40px rgba(0, 0, 0, 0.4),
      inset 0 0 0 1px rgba(205, 150, 12, 0.015);
    text-align: center;
}

.card.fade-out {
  animation: cardFade 0.6s ease forwards;
}

@keyframes cardFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  60% {
    opacity: 0.4;
    transform: scale(0.95);
  }
  100% {
    opacity: 0;
    transform: scale(0.85);
  }
}

/* hover biar hidup */
.gift:hover {
    transform: translateY(-6px) scale(1.05);
}

/* teks petunjuk */
.hint {
    margin-top: 14px;
    font-size: 17px;
    color: #f2b6c6;
    letter-spacing: 0.3px;
    transition: opacity 0.3s ease;
    text-shadow:
    0 0 10px rgba(242,182,198,0.35),
    0 0 22px rgba(242,182,198,0.15);
}

/*buzz*/
.shake-1 {
    animation: shake 0.3s ease;
}

.shake-2 {
    animation: shake-strong 0.3s ease;
}

@keyframes shake {
    0% { transform: translate(0) }
    25% { transform: translate(-4px, 2px) }
    50% { transform: translate(4px, -2px) }
    75% { transform: translate(-3px, 1px) }
    100% { transform: translate(0) }
}

@keyframes shake-strong {
    0% { transform: translate(0) rotate(0deg) }
    20% { transform: translate(-6px, 4px) rotate(-2deg) }
    40% { transform: translate(6px, -4px) rotate(2deg) }
    60% { transform: translate(-10px, 4px) rotate(-1deg) }
    80% { transform: translate(10px, -4px) rotate(1deg) }
    100% { transform: translate(0) }
}

/* ledakan kado */
.explode {
    animation: explode 0.5s ease forwards;
}

@keyframes explode {
    0% { transform: scale(1) rotate(0deg); }
    30% { transform: scale(1.4) rotate(8deg); }
    60% { transform: scale(0.8) rotate(-8deg); }
    100% { 
        transform: scale(0);
        opacity: 0;
        filter : blur(4px);
    }
}

#confetti {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 3;
}

#gift {
  width: 180px;
  height: auto;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
    filter:
    drop-shadow(0 0 28px rgba(255,215,150,0.6))
    drop-shadow(0 0 14px rgba(242,182,198,0.25));
  transition: transform 0.2s ease;
}