* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

/* canvas hujan */
#rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* container text tengah*/
#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* text utama*/
#text {
  color: #f776b0;
  font-size: 90px;
  opacity: 0;
  transition: opacity 0.6s ease;
  text-shadow: 
    0 0 30px rgba(234, 131, 177, 0.942),
    0 0 25px rgba(224, 157, 184, 0.612);
  text-align: center;
}
