* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  height: 100vh;
  overflow: hidden;
  font-family: 'poppins', sans-serif;
}

/* canvas hujan */
#rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* container text tengah*/
#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
/* text utama*/
#text {
  color: #ff8bc7;
  font-size: 90px;
  opacity: 0;
  transition: opacity 0.6s ease;
  text-shadow: 
    0 0 10px rgba(255, 155, 180, 0.921),
    0 0 25px rgba(225, 182, 193, 0.903);
  text-align: center;
}
